* {
  box-sizing: border-box;
}


 .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 30%;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #222;
}
.branding p {
  color: #fff;
  font-family: fantasy;
  font-size: 30px;
  letter-spacing: 1px;
}
.top-menu {
  display: flex;
}
.top-menu a {
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  font-size: 20px;
}
.top-menu a:hover {
  border-bottom: 4px solid orange;
}

