
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #222;
}
.branding p {
  color: #fff;
  font-family: fantasy;
  font-size: 30px;
  letter-spacing: 1px;
}
.top-menu {
  display: flex;
}
.top-menu a {
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  font-size: 20px;
}
.top-menu a:hover {
  border-bottom: 4px solid orange;
}
.social-media-links {
  margin: 5%;
  display: flex;
}
.social-media-links p {
  margin: 10px;
}
.social-media-links a {
  padding: 10px;
  text-decoration: none;
  background: red;
  border-radius: 5px;
  color: #fff;
}
.social-media-links a:hover {
  box-shadow: 0 0 5px black;
}

/*  For Mobile Screens  */

@media screen and (max-width: 700px) {
  .topnav {
    display: block;
    text-align: center;
    height: auto;
  }
  .top-menu {
    display: block;
    padding: 20px;
  }
  .top-menu p {
    padding: 10px;
  }
  .social-media-links{
    display: block;
  }
  .social-media-links p{
    margin: 30px;
  }
}
